.cabal-sandbox
.stack-work
shared/lib
shared/obj
dist/
cabal.sandbox.config
*.a
*.o
notes-and-snippets
tests/*/results
tests/*/build
tests/benchmarks-OpenCL/copy/copy
tests/benchmarks-OpenCL/reverse/reverse
tests/benchmarks-OpenCL/reduce/reduce
tests/benchmarks-OpenCL/transpose/transpose
tests/benchmarks-OpenCL/transpose/transpose_profile
tests/reference/transpose/nvidia-original/SdkMasterLog.csv
tests/reference/transpose/nvidia-original/oclTranspose.txt
tests/reference/transpose/nvidia-original/oclTranspose
tests/reference/reduce/nvidia-original/SdkMasterLog.csv
tests/reference/reduce/nvidia-original/oclReduction.txt
tests/reference/reduce/nvidia-original/oclReduction
bugs/
/tests/reference/matmul/nvidia-original/oclMatrixMul
/tests/reference/matmul/nvidia-original/oclMatrixMul.txt
/tests/reference/scan/nvidia-original/oclScan
/tests/reference/scan/nvidia-original/oclScan.txt
